body {
    padding: 0;
    margin: 0;
}

#map{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

#distance-selector {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#distance-selector div {
    padding: 50px;
}

.leaflet-toggle-dragging, .leaflet-show-modal {
    width: 75px;
    height: 75px;
}

.leaflet-toggle-dragging img {
    width: 75%;
    height: 75%;
}

.leaflet-display-status, .leaflet-compass {
    padding: 10px;
    margin: 0px;
    margin-top: 20px;
}