body {
    padding: 0;
    margin: 0;
}

#map{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center; 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.modal div {
    padding: 50px;
}

.leaflet-toggle-dragging, .leaflet-show-modal {
    width: 75px;
    height: 75px;
}

.leaflet-toggle-dragging img, .leaflet-show-modal img {
    width: 75%;
    height: 75%;
}

.leaflet-display-status, .leaflet-compass {
    padding: 10px 5px 5px 10px;
    margin: 0px;
    margin-top: 20px;
}

.leaflet-routing-alt {
    max-height: 160px;
}

.leaflet-routing-alt-minimized {
    display: none;
}

.simple-keyboard{
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 3;
}