@font-face {
    font-family: 'Noto Sans Bold';
    src: url("../fonts/NotoSans-Bold.ttf");
}

html{
    font-family: 'Noto Sans Bold', sans-serif;
}

#distance-selector {
    display: none;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0,0,0,0.5);
}

#distance-selector div {
    background-color: rgb(255,255,255);
}

.leaflet-toggle-dragging, .leaflet-show-modal {
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    background-color: white;
    border-radius: 4px;
}

.leaflet-display-status, .leaflet-compass {
    border: 2px solid rgba(0,0,0,0.2);
    background-clip: padding-box;
    background-color: white;
    border-radius: 4px;
}

.leaflet-display-status h2, .leaflet-compass h2 {
    color: black;
    font-size: 18px;
}