<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- MAPBOX FILES BEGIN HERE -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" />
    <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
    <!-- MAPBOX FILES END HERE -->
    <!-- MISC. NPM PACKAGES START HERE-->
    <script src="{{ url_for('static', filename='node_modules/protomaps-leaflet/dist/protomaps-leaflet.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/leaflet-rotatedmarker/leaflet.rotatedMarker.js') }}"></script>
    <!-- MISC. NPM PACKAGES END HERE-->
    <style>
        @font-face {
            font-family: 'Noto Sans Bold';
            src: url("{{ url_for('static', filename='fonts/NotoSans-Bold.tff') }}");
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts.css') }}" />
    <title>GPS Map</title>
</head>
<body>
    <!-- this div will hold the overlay -->
    <div id="overlay">
        <p>Your current location:</p>
        <p id="coordinates"></p>
    </div>
    <!-- This div will hold the map -->
    <div id="map"></div>
    <div id="overlay">
        <div class="overlay-item" id="location">
            <h1>[EMPTY]</h1>
        </div>
        <div class="overlay-item" id="compass">
            <h1>[EMPTY]</h1>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/map.js' ) }}"></script>
</body>
</html>