<!DOCTYPE html>
<html lang="en">
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="//code.jquery.com/jquery.min.js"></script>

        <!-- LEAFLET FILES BEGIN HERE -->
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.css') }}" />
        <script src="{{ url_for('static', filename='node_modules/leaflet/dist/leaflet.js') }}"></script>
        <!-- LEAFLET FILES END -->

        <!-- LEAFLET ROUTING MACHINE BEGIN -->
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/leaflet-routing-machine/dist/leaflet-routing-machine.css') }}" />
        <script src="{{ url_for('static', filename='node_modules/leaflet-routing-machine/dist/leaflet-routing-machine.js') }}"></script>
        <!-- LEAFLET ROUTING MACHINE END -->

        <!-- LEAFLET WEATHER BEGIN -->
        <link rel="stylesheet" href="{{ url_for('static', filename='ext_plugins/Leaflet.Weather.css') }}" />
        <script src="{{ url_for('static', filename='ext_plugins/Leaflet.Weather.js') }}"></script>
        <!-- LEAFLET WEATHER END -->

        <!-- MISC. NPM PACKAGES BEGIN -->
        <script src="{{ url_for('static', filename='node_modules/protomaps-leaflet/dist/protomaps-leaflet.min.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/leaflet-rotatedmarker/leaflet.rotatedMarker.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/simple-keyboard/build/index.js') }}"></script>
        <!-- MISC. NPM PACKAGES END --> 

        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/simple-keyboard/build/css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layouts.css') }}" />
        <title>GPS Map</title>

    </head>
    <body>

        <div id="map"></div>
        <div id="distance-selector" class="modal">
            <div>
                <p id="stats"></p>  
            </div>
        </div>
        <div class="simple-keyboard"></div>
        <div id="location-name-selector" class="modal">
            <div onclick="event.stopPropagation();">
                <h1 id="location-name-title">Enter Name Of Location:</h1>
                <input id="location-save-name" type="text">
                <button id="location-save-button">Save Location</button>
            </div>            
        </div>

        <script>
            var panImg = "{{ url_for('static', filename='images/material/pan_tool.png') }}";
            var pinImg = "{{ url_for('static', filename='images/material/pin_drop.png') }}";
            var statsImg = "{{ url_for('static', filename='images/material/man_running.png') }}";
        </script>
    </body>
    <script src="{{ url_for('static', filename='scripts/map_controls.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/map_routing.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/map_keyboard.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/map.js' ) }}"></script>
</html>